node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
coverage
.nyc_output
.env
.env.*
!.env.example
.git
.gitignore
.github
Dockerfile
docker-compose*.yml
.vscode
.idea
*.log
.DS_Store
Thumbs.db