NODE_ENV=production
PORT=5000
MONGO_URI=mongodb+srv://pbokade50_db_user:P9Cp7rRvRYgjEOWp@dev-instasoulmate.f72ehwx.mongodb.net/todo-prod?appName=dev-instasoulmate
CORS_ORIGINS=
VAPID_PUBLIC=
VAPID_PRIVATE=
RATE_LIMIT_MAX=100

